header { display: flex; }
header > div {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
}
header > div > span:first-child { font-size: 16px; }
header > div > span:nth-child(2) { font-size: 40px; }
header > div > span:nth-child(3) {
	font-size: 16px;
	text-align: right;
}
