header { display: flex; }
header > div {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 10px;
}
header > div > span {
	font-size: 16px;
	text-align: right;
}
header > div > span:first-child { text-align: left; }
header > div > span:nth-child(2) { font-size: 40px; text-align: left; }
